/* APP */

/* .App {
  text-align: center;
} */
label {display:block;}
textarea { display:block;}
/* MAIN-TEXT-INPUT */

.main-div {
  width: 85%;
  margin-left: 7.5%;
}
.main-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: auto; */
  
}
.text-input {

  width: 100%;
  max-width: 100%;
  height: 300px;
}
.string-input {
  width: 100%;
  height: 1rem;
  margin-left: 2.5%;
}

/* ID */
#a {
  width:80%;
  margin-right: 5%;
}
#b {
  width:20%;
}
#c {
  justify-content: ;
}