/* APP */

/* .App {
  text-align: center;
} */
label {display:block;}
textarea { display:block;}
/* MAIN-TEXT-INPUT */

.main-div {
  width: 85%;
  margin-left: 7.5%;
}
.main-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: auto; */
  
}
.text-input {

  width: 100%;
  max-width: 100%;
  height: 300px;
}
.string-input {
  width: 80%;
  height: 1rem;
  margin-left: 2.5%;
}
/* .sla {
  color: blue;
}
.slb {
  color: teal;
}
.slc {
  color: green;
} */

/* ID */
#a {
  width:80%;
  margin-right: 5%;
}
#b {
  width:20%;
}



@media only screen and (max-width: 768px ) {
  .main-form {
    flex-direction: column;
  }
  .string-input, #a, #b {
    width: 100%;
  }
  .string-input {
    margin-left: 0%;
  }
}